main{
    padding: 1vw 10vw 1vw 10vw;
    height: 150vh;
}
#info-cine{
    max-width: 60%;
    margin-bottom: 40px;
    /* background-color: blue; */
    float: left;
}
h1{
    font-weight: bold;
    font-size: 24pt;
}
#descripcion-cine{
    width: 70%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
label{
    font-weight: bold;
}
.label-p{
    display: inline;
}



#secc-imagen-cine{
    /* background-color: rgb(255, 144, 144); */
    display: inline-block;
    width: 40%;
    text-align: center;
}
#secc-imagen-cine img{
    width: 500px;
}


#secc-comentarios{
    /* background-color: rgba(172, 255, 47, 0.486); */
    /* width: 80vw; */
    /* margin-left: 5vw;
    margin-right: 5vw; */
}
#titulo-boton{
    margin-bottom: 20px;
}
h2{
    font-weight: bold;
    font-size: 16pt;
    display: inline;
}
#titulo-boton button{
    float: right;
}
.comentario{
    border: solid 2px rgb(141, 104, 143);
    margin: auto;
    padding: 10px;
}
h3{
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 5px;
}