main{
    padding: 2vw 10vw 1vw 10vw;
}
#info-cine{
    max-width: 60%;
    margin-bottom: 40px;
    /* background-color: blue; */
    float: left;
}
h1{
    font-weight: bold;
    font-size: 30pt;
    font-family: "Scheherazade New";
}
#descripcion-cine{
    width: 70%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
label{
    font-weight: bold;
}
.label-p{
    display: inline;
}



#secc-imagen-cine{
    /* background-color: rgb(255, 144, 144); */
    display: inline-block;
    width: 40%;
    text-align: center;
}
#secc-imagen-cine img{
    width: 90%;
    margin-bottom: 20px;
    border: solid 2px black;
}
#secc-imagen-cine label{
    margin-right: 50%;
}


#secc-comentarios{
    margin-top: 50px;
}
#titulo-boton{
    margin-bottom: 30px;
}
h2{
    font-weight: bold;
    font-size: 16pt;
    display: inline;
}
#titulo-boton button{
    float: right;
}
.comentario{
    border: solid 2px rgb(141, 104, 143);
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.comentario div{
    display: inline-block;
}
.usuario-img{
    margin-right: 5px;
    font-size: 30pt;
    vertical-align: center;
}
h3{
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 5px;
}