.butaca{
    float: left;
    margin: 5px;
    width: 100px;
    /* background-color: rgb(115, 115, 255); */
}
.p-numero{
    border-radius: 100%;
    border: solid 4px rgb(0, 37, 158);
    /* text-align: center; */
    font-size: 24pt;
    padding: 10px;
    width: 35px;
    margin: auto;
    /* background-color: rgb(255, 140, 140); */
}
.butaca-desabilitada{
    border: solid 4px rgb(209, 209, 209);
    color: rgb(209, 209, 209);
}
.reservado{
    border: solid 4px rgb(0, 231, 39);
    /* color: rgb(0, 231, 39); */
}
.opciones button{
    display: block;
}
.esconder{
    display: none;
}